@import "normalize";
@import "variables";
@import "mixins";

@import "global/page";
@import "blocks/header";
@import "blocks/container";
@import "blocks/page-title";
@import "blocks/intro";
@import "blocks/button";
@import "blocks/price";
@import "blocks/features";
@import "blocks/title";
@import "blocks/lead";
@import "blocks/intro-block";
@import "blocks/order";
@import "blocks/services";
@import "blocks/promo";
@import "blocks/discover";